.box {
    width: 300px;
    height: 300px;
    margin: 15px;
    border-radius: 8px;
 }

 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 98px;
    color: aliceblue;
    
 }

 .box-1 {
    box-shadow: 21px 19px 10px rgb(92,0,0);
    margin-left: 80vh;
    background-color:brown;

 }

.box-2 {
    box-shadow: 21px 19px 10px rgb(0,32,22);
    background-color: rgb(6,102,70);
}

.box-3 {
    box-shadow: 21px 19px 10px rgb(150,74,3);
    background-color: rgb(214,119,3);
}

.aling {
    margin-left: 50vh;
    margin-right: 3000px;
    display: inline-flex;
}

.box-4 {
    box-shadow:21px 19px 10px rgb(14, 80, 30) ;
    background-color: rgb(41,129,41);
}
.box-5 {
    box-shadow:21px 19px 10px  rgb(6, 0, 97);
    background-color: rgb(24,24,170);
}
.box-6 {
    box-shadow:21px 19px 10px rgb(67,0,99);
    background-color:blueviolet;

}

.ali {
    margin-left: 20vh;
    display: inline-flex;
}