* {
   margin: 0;
   padding: 0;
}


.img-100{
    width: 100%;
    border: solid cyan 5px;
    float: right;
   }

 h1, h2 {
    text-align: center;
    padding: 8px;
 }

 .little {

   text-align: center;
   margin: 30px;
   margin-right: 57px;
 }
 .programacion {
   display: inline-flex;

 }
 p{
   text-align:justify;
 }
