*{
    margin: 0;
    padding: 0;
}


.box {
    display: inline-block;
    padding: 30px;
    margin: 0;
    font-size: 30px;
    color: aliceblue;


}
 .menu{
    text-align: right;
    background-color: #044409 ;
    text-align: center;
 }