.fa-solid{
    color:rgb(135, 150, 161);
    
    padding-right: 5px;
   
}


.fa-brands{
    color:rgb(135, 150, 161);
    padding-right: 5px;

}
li{
    font-size: 20px;
    padding-bottom: 25px;
    color: rgb(49, 48, 48);

}
nav{
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    border-right: 1PX solid rgb(135, 150, 161);
    
}
ul{
    list-style: none;
    }
a{
    text-decoration: none;
}
li:hover{
    background-color:rgb(230, 235, 239);
}

br{
    background-color: black;
}
div{
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    padding: 10px;
}
.fa-circle-user{
    padding-top: 25px;
}
i{
margin-right: 10px;
}